* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    width: 100%;
    background: url(../images/livestock-bg.png);
    background-size: cover;
    background-position: center;
    /* background: #4267b2; */
    position: relative;
    display: flex;

}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0F7C2E; */
    /* background: url(../images/livestock-img.png) ; */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
  
}


/* form styles  */

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
}

.form .signup {
    opacity: 0;
    pointer-events: none;
}

.forms .show-signup .form .signup {
    opacity: 1;
    pointer-events: none;
}

.forms .show-signup .form .login {
    opacity: 1;
    pointer-events: none;
}

header {
    font-size: 20px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}


/* 
form {
     margin-top: 30px; 
} */

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    border-radius: 6px;
}

.field input,
.field button,
.sign-up {
    height: 80%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
}

#input-field {
    height: 75%;
}

select,
#input-field {
    height: 35px;
    width: 100%;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 0.5rem;
    outline: none;
    border: 1px solid #cacaca;
}

select:focus {
    border: 1px solid #cacaca;
}

.input {
    color: #8b8b8b;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #cacaca;
}

.field input:focus {
    border-bottom-width: 2px;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 500;
    color: #232836;
}

.form a {
    text-decoration: none;
    color: #0171d3;
}

.form-content a:hover {
    text-decoration: underline;
}

.eye-icon {
    position: absolute;
    font-size: 20px;
    color: #8b8b8b;
    top: 50%;
    right: 10px;
    transform: translateY(-65%);
    cursor: pointer;
    padding: 5px;
}

button.sign-up {
    color: #fff;
    background-color: #4267b2;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-button.loading {
    /* Styles for loading state:
        - Disable button click
        - Change background color (optional)
        - Add a spinner element */
    pointer-events: none; /* Disable clicks */
    background-color: #c52828; /* Optional background change */
}

/* Styles for the spinner (can be customized) */
.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #000; /* Color for the spinning part */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 30px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: "or";
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #232836;
    padding: 0 15px;
}


/* Social icon styles */

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4267b2;
}

a.facebook {
    background-color: #4267b2;
    color: #fff;
}

a.facebook .facebook-icon {
    height: 20px;
    width: 20px;
    color: #0171d3;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #fff;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    color: #fff;
    background-color: #fff;
    border-radius: 50%;
}

a.google {
    border: 1px solid #cacaca;
}

a.google span {
    font-weight: 500;
    color: #fff;
}


/* media query styles */

@media screen and (max-width:375px) {
    .forms {
        padding: 15px 10px;
    }
}